<h1>Listing infomations</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @infomations.each do |infomation| %>
  <tr>
    <td><%= infomation.id %></td>
    <td><%= infomation.name %></td>
    <td><%= link_to 'Show', infomation %></td>
    <td><%= link_to 'Edit', edit_infomation_path(infomation) %></td>
    <td><%= link_to 'Destroy', infomation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Infomation', new_infomation_path %>
