<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Scrum Community of JAPAN - "Sukusuku-Scrum" | It's a study meeting that searches for the hint of the "Gemba".</title>
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <%= stylesheet_link_tag 'defaults', 'style-zero' %>
  
  <!--[if lte IE 6]>
  <%= stylesheet_link_tag 'ie6' %>
  <![endif]-->
  
  <!--[if IE 7]>
  <%= stylesheet_link_tag 'ie7' %>
  <![endif]-->

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body class="layout-left-main not-admin not-logged-in not-front full-node node-type-page nid-10 section-scrumalliance-ja page-scrumalliance-ja layout-jello l-m-var bicons48 picons lg-ja">
  <div id="skip-nav"><a href="#main">Skip to Content</a></div>
  <div id="top_bg" class="page">
    <div class="sizer">
      <div id="topex" class="expander0">
        <div id="top_left">
          <div id="top_right">
            <div id="headimg">
              <div id="above" class="clearfix"></div>
              <div id="header" class="clearfix">

                <div id="logo">
                  <a href="http://0.0.0.0:3000/" title="ホーム">
                    <img src="/images/all/logo.png" alt="ホーム" />
                  </a>
                </div> <!-- /logo -->

                <div id="top-elements">
                  <div id="toplinks"></div>
                </div><!-- /top-elements -->

                <div id="name-and-slogan">
                  <h1 id="site-name">
                    <a href="http://0.0.0.0:3000/" title="ホーム">スクラムコミュニティ 「すくすくスクラム」 Scrum Community of JAPAN　- "Sukusuku-Scrum"</a>
                  </h1>
                </div> <!-- /name-and-slogan -->

                <div class="brclear"></div>

              </div> <!-- /header -->
            </div>
          </div><!-- /top_right -->
        </div><!-- /top_left -->
      </div><!-- /expander0 -->
    </div><!-- /sizer -->
  </div><!-- /top_bg -->

  <div id="body_bg" class="page">
    <div class="sizer">
      <div class="expander0">
        <div id="body_left">
          <div id="body_right">
            <div id="middlecontainer">
              <div id="wrapper">
                <div class="outer">
                  <div class="float-wrap">
                    <div class="colmain">
                      <div id="main">

<%= yield %>

                      </div>
                    </div> <!-- /colmain -->

                    <br class="brclear" />

                  </div> <!-- /float-wrap -->

                  <br class="brclear" />

                </div><!-- /outer -->
              </div><!-- /wrapper -->
            </div><!-- /middlecontainer -->

            <div id="bar"></div>
            </ul>

          </div><!-- /body_right -->
        </div><!-- /body_left -->
      </div><!-- /expander0 -->
    </div><!-- /sizer -->
  </div><!-- /body_bg -->

    <div class="eopage">
      <div class="page">
        <div class="sizer">
          <div class="expander0">

            <div id="footer-wrapper" class="clearfix">
              <div id="footer">
                <div class="legal">Copyright &copy; 2011 <a href="/">スクラムコミュニティ 「すくすくスクラム」 Scrum Community of JAPAN　- "Sukusuku-Scrum"</a>.
                  <!--<div id="brand"></div>-->
                </div>
              </div>
            </div> <!-- /footer-wrapper -->

            <div id="belowme">
              <a href="http://0.0.0.0:3000/">
                <img src="http://www.sukusuku-scrum.jp/sites/all/themes/zeropoint/brand.png" alt="ホーム" />
              </a>
            </div>

          </div><!-- /expander0 -->
        </div><!-- /sizer -->
      </div><!-- /page -->
    </div>

    <div class="page">
        <div class="sizer">
          <div class="expander0">
          </div>
        </div>
    </div>
  </body>
</html>