<h1>会場一覧</h1>

<div align="right"><%= link_to image_tag('/images/NewPlace.jp2', { :border => '0', :alt => 'New Place'}), new_place_path %></div>

<table>
  <tr>
    <th>会場名</th>
    <th>会場場所</th>
    <th>ＵＲＬ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td><%= place.adress %></td>
    <td><%= place.url %></td>
    <td><%= link_to image_tag('/images/Show.jp2', { :border => '0', :alt => 'Show'}), place %></td>
    <td><%= link_to image_tag('/images/Edit.jp2', { :border => '0', :alt => 'Edit'}), edit_place_path(place) %></td>
    <td><%= link_to image_tag('/images/Destroy.jp2', { :border => '0', :alt => 'Destroy'}), place, :confirm => '削除して良いですか？', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br /><br /><br />
