<br />
<h1 class="title">会場情報</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>会場名 ：</b>
  <%= @place.name %>
</p>

<p>
  <b>会場場所 ：</b>
  <%= @place.adress %>
</p>

<p>
  <b>ＵＲＬ ：</b>
  <%= @place.url %>
</p>

<br />
<%= link_to image_tag('/images/Edit.jp2', { :border => '0', :alt => 'Edit'}), edit_place_path(@place) %>
<div align="right"><%= link_to image_tag('/images/Back.jp2', { :border => '0', :alt => 'Back'}), places_path %></div>