<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "") %> 個のエラーを発見したので "未登録" です。以下のエラーを解消して下さい。</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    第<%= f.text_field :times , :size=>"2" %>回
    すくすくスクラム　～ <%= f.text_field :name, :size=>"40" %> 〜　
    定員<%= f.text_field :capacity, :size=>"2" %>名<br /><br />
    概要　<br /><%= f.text_area :summary %><br /><br />
  </div>

  <div class="actions">
    <input type="image" src="/images/new_thread.jpeg" name="commit" id="event_submit" value="submit" alt="Create Event" border="0">
  </div>

<% end %>
