<p id="notice"><%= notice %></p>

<p>
  <b>Times:</b>
  <%= @event.times %>
</p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Capacity:</b>
  <%= @event.capacity %>
</p>

<p>
  <b>Summary:</b>
  <%= @event.summary %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
